.large-article-card {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  margin: 0px 15px;
  border-top: 1px solid #38003c;
  border-bottom: 1px solid #38003c;
}

.large-article-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.large-article-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.large-article-content p {
  padding: 0px 20px;
}

.large-article-heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.large-article-heading h4 {
  font-weight: 200;
}

.large-article-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3%;
}

.large-article-link {
  display: flex;
  align-items: center;
  background-color: #00ff85;
  padding: 0px 15px;
  font-size: 20px;
  min-height: 50px;
  transition-duration: 700ms;
}

.large-article-link:hover {
  background-color: #38003c;
  color: white;
  transition-duration: 700ms;
}

.large-article-by-text {
  border-left: 2px solid #e90052;
  padding-left: 10px;
}

.large-article-details a {
  text-decoration: none;
  color: #38003c;
}

.large-article-img {
  display: flex;
  align-items: center;
}

.large-article-card img {
  display: block;
  max-width: 300px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.large-article-title {
  text-align: center;
  font-size: 25px;
  margin: 2% 5%;
}

.large-article-author {
  font-size: 20px;
  margin: 0;
}

.large-article-source {
  font-size: 15px;
  margin: 0;
}
