@media all and (max-width: 767px) {
  header {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #38003c;
  }

  .mobile-header {
    background-color: #38003c;
    margin: 0;
  }

  .mobile-header h1 {
    margin: 0;
    color: white;
    padding: 10px;
    text-align: center;
  }

  .header-title {
    font-size: 25px;
    color: white;
  }

  .header-title a {
    text-decoration: none;
    color: white;
  }

  .header-login-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 150px;
    margin-top: 10px;
  }

  .header-nav a {
    text-decoration: none;
    color: white;
    font-weight: 600;
  }
  .header-nav a:visited {
    text-decoration: none;
    font-weight: 600;
  }

  .header-login-nav span {
    font-weight: 600;
  }

  .header-nav a,
  span {
    padding: 0px 20px;
  }
}

@media all and (min-width: 767px) {
  header {
    padding: 10px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #38003c;
  }

  .header-title {
    font-size: 35px;
  }

  .header-title a {
    text-decoration: none;
    color: white;
  }

  .header-login-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
  }

  .header-nav a {
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
    color: white;
  }

  .header-nav a:hover {
    background-color: white;
    color: #38003c;
    transition-duration: 700ms;
  }

  .header-nav a:visited {
    text-decoration: none;
    font-weight: 600;
  }

  .header-login-nav span {
    font-size: 20px;
  }
  .header-nav a,
  span {
    padding: 8px 10px;
    margin: 0px 10px;
  }
}
