.filter-bar {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.filter-bar {
  background-color: #e90052;
  color: white;
  padding: 20px 0px 20px 0px;
}

.filter-bar h3 {
  margin: 0;
  padding-bottom: 20px;
}

.filter-options select {
  margin: 0px 5px;
  padding: 5px 0px;
}

.filter-options option {
  text-align: center;
}

.filter-options button {
  background-color: white;
  padding: 5px 10px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  margin: 0px 0px 0px 10px;
}
