.filter-bar {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.filter-bar {
  color: white;
  padding: 20px 0px 20px 0px;
}

.filter-bar h3 {
  margin: 0;
  padding-bottom: 10px;
}

.filter-inputs {
  display: flex;
  flex-direction: row;
}

.filter-options {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.filter-options label {
  text-align: left;
  font-size: 18px;
}

.filter-options select {
  padding: 5px 0px;
}

.filter-options option {
  text-align: center;
}

.filter-options button {
  background-color: white;
  padding: 5px 10px;
  border: none;
  font-size: 15px;
  font-weight: 600;
  margin: 0px 0px 0px 20px;
}

.current-team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.current-team img {
  margin-left: 10px;
  margin-bottom: 10px;
  display: block;
  max-width: 130px;
  max-height: 55px;
  width: auto;
  height: auto;
}
