.filter-bar {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.filter-bar {
  background-color: #e90052;
  color: white;
  padding: 20px 0px 20px 0px;
}

.filter-bar h3 {
  margin: 0;
  padding-bottom: 20px;
}
